<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.flexizen"/>

    <!-- Enable @Controller + annotation-based MVC -->
    <mvc:annotation-driven/>

    <!-- Static resources (optional; keep default behavior) -->

    <!-- CORS: allow React dev server -->
    <bean class="org.springframework.web.cors.UrlBasedCorsConfigurationSource">
        <property name="corsConfigurations">
            <map>
                <entry key="/**">
                    <bean class="org.springframework.web.cors.CorsConfiguration">
                        <property name="allowedOrigins">
                            <list>
                                <value>http://localhost:5173</value>
                                <value>http://localhost:3000</value>
                            </list>
                        </property>
                        <property name="allowedMethods">
                            <list>
                                <value>GET</value>
                                <value>POST</value>
                                <value>PUT</value>
                                <value>DELETE</value>
                                <value>OPTIONS</value>
                            </list>
                        </property>
                        <property name="allowedHeaders">
                            <list>
                                <value>*</value>
                            </list>
                        </property>
                        <property name="allowCredentials" value="true"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

</beans>

